/*** Colors ***/
/*** Badges ***/
/*** Buttons ***/
/*** Cards ***/
/*** Collapsible ***/
/*** Chips ***/
/*** Date Picker ***/
/*** Dropdown ***/
/*** Fonts ***/
/*** Forms ***/
/*** Global ***/
/*** Navbar ***/
/*** SideNav ***/
/*** Photo Slider ***/
/*** Spinners | Loaders ***/
/*** Tabs ***/
/*** Tables ***/
/*** Toasts ***/
/*** Typography ***/
/*** Collections ***/
/* Progress Bar */
ul {
  padding: 0; }
  ul li {
    list-style-type: none; }

nav, .card_large {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #eceff1; }

i {
  line-height: inherit; }
  i.card_large {
    font-size: 6rem; }

/*********************
  Transition Classes
**********************/
/*********************
  Media Query Classes
**********************/
table, th, td {
  border: none; }

table {
  width: 100%;
  display: table; }
thead {
  border-bottom: 1px solid #d0d0d0; }

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px; }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-moz-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@-moz-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
/*******************
  Utility Classes
*******************/
@font-face {
  font-family: "Material-Design-Icons";
  src: url("../font/material-design-icons/Material-Design-Icons.eot?#iefix") format("embedded-opentype"), url("../font/material-design-icons/Material-Design-Icons.woff2") format("woff2"), url("../font/material-design-icons/Material-Design-Icons.woff") format("woff"), url("../font/material-design-icons/Material-Design-Icons.ttf") format("truetype"), url("../font/material-design-icons/Material-Design-Icons.svg#Material-Design-Icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="mdi-"], [class*="mdi-"] {
  speak: none;
  display: inline-block;
  font-family: "Material-Design-Icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-rendering: auto;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }
  [class^="mdi-"]:before, [class*="mdi-"]:before {
    display: inline-block;
    speak: none;
    text-decoration: inherit; }
  [class^="mdi-"].pull-left, [class*="mdi-"].pull-left {
    margin-right: .3em; }
[class^="mdi-device-signal-cellular-"]:after,
[class^="mdi-device-battery-"]:after,
[class^="mdi-device-battery-charging-"]:after,
[class^="mdi-device-signal-cellular-connected-no-internet-"]:after,
[class^="mdi-device-signal-wifi-"]:after,
[class^="mdi-device-signal-wifi-statusbar-not-connected"]:after {
  opacity: .3;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: inline-block;
  speak: none;
  text-decoration: inherit; }

[class^="mdi-device-signal-cellular-"]:after {
  content: "\e758"; }

[class^="mdi-device-battery-"]:after {
  content: "\e735"; }

[class^="mdi-device-battery-charging-"]:after {
  content: "\e733"; }

[class^="mdi-device-signal-cellular-connected-no-internet-"]:after {
  content: "\e75d"; }

[class^="mdi-device-signal-wifi-"]:after {
  content: "\e765"; }

[class^="mdi-device-signal-wifi-statusbasr-not-connected"]:after {
  content: "\e8f7"; }

@-webkit-keyframes mdi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes mdi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
/* Start Icons */
.mbox_row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
  .mbox_row:after {
    content: "";
    display: table;
    clear: both; }
  .mbox_row .mbox_col {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.75rem; }
    .mbox_row [class*="push-"].mbox_col, .mbox_row [class*="pull-"].mbox_col {
      position: relative; }
    .mbox_row .mbox_col {
      width: 50%;
      margin-left: 0; }
nav {
  color: #fff;
  background-color: #eceff1;
  width: 100%;
  height: 56px;
  line-height: 56px; }
  nav a {
    color: #fff; }
  nav ul {
    margin: 0; }
    nav ul li {
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      -ms-transition: background-color 0.3s;
      transition: background-color 0.3s;
      float: left;
      padding: 0; }
      nav ul li:hover, nav ul li.active {
        background-color: rgba(0, 0, 0, 0.1); }
    nav ul a {
      font-size: 1rem;
      color: #fff;
      display: block;
      padding: 0 15px; }
@media only screen and (min-width: 601px) {
  nav {
    height: 64px;
    line-height: 64px; } }
@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("../font/roboto/Roboto-Thin.woff2") format("woff2"), url("../font/roboto/Roboto-Thin.woff") format("woff"), url("../font/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200; }
@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("../font/roboto/Roboto-Light.woff2") format("woff2"), url("../font/roboto/Roboto-Light.woff") format("woff"), url("../font/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("../font/roboto/Roboto-Regular.woff2") format("woff2"), url("../font/roboto/Roboto-Regular.woff") format("woff"), url("../font/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Medium.woff2") format("woff2"), url("../font/roboto/Roboto-Medium.woff") format("woff"), url("../font/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Bold.woff2") format("woff2"), url("../font/roboto/Roboto-Bold.woff") format("woff"), url("../font/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700; }
a {
  text-decoration: none; }

html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87); }
  @media only screen and (min-width: 0) {
    html {
      font-size: 14px; } }
  @media only screen and (min-width: 992px) {
    html {
      font-size: 14.5px; } }
  @media only screen and (min-width: 1200px) {
    html {
      font-size: 15px; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0; }

h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0; }

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0; }

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0; }

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0; }

h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0; }

em {
  font-style: italic; }

strong {
  font-weight: 500; }

small {
  font-size: 75%; }

.card_large {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px; }
  .card_large .card_content span, .card_content .card_large span {
    font-size: 24px;
    font-weight: 300; }
    .card_large .card_content span, .card_content .card_large span {
      cursor: pointer; }
  .card_large {
    position: relative; }
    .card_large .card_image {
      max-height: 60%;
      overflow: hidden; }
    .card_large .card_content {
      max-height: 40%;
      overflow: hidden; }
  .card_large {
    height: 500px; }
  .card_large .card_image {
    position: relative; }
    .card_large .card_image img {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%; }
    .card_large .card_image .card_content span, .card_content .card_large .card_image span {
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 20px; }
  .card_large .card_content {
    padding: 20px;
    border-radius: 0 0 2px 2px; }
    .card_large .card_content p {
      margin: 0;
      color: inherit; }
    .card_large .card_content span {
      line-height: 48px; }
#toast-container {
  display: block;
  position: fixed;
  z-index: 10000; }
  @media only screen and (max-width: 600px) {
    #toast-container {
      min-width: 100%;
      bottom: 0%; } }
  @media only screen and (min-width: 601px) and (max-width: 992px) {
    #toast-container {
      min-width: 30%;
      left: 5%;
      right: 5%;
      bottom: 7%; } }
  @media only screen and (min-width: 993px) {
    #toast-container {
      min-width: 8%;
      top: 10%;
      right: 7%;
      left: 7%; } }

/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
/* Firefox Bug: link not triggered */
.card_image img {
  display: block;
  cursor: zoom-in;
  position: relative;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s; }
  .card_image img:hover {
    will-change: left, top, width, height; }
    .card_image img:hover:not(.active) {
      opacity: .8; }

.card_image img.active {
  cursor: zoom-out; }

#materialbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #292929;
  z-index: 999;
  will-change: opacity; }

/***************
    Nav List
***************/
#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  will-change: opacity; }

/*
    @license
    Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
    This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
    The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
    The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
    Code distributed by Google as part of the polymer project is also
    subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
 */
/**************************/
/* STYLES FOR THE SPINNER */
/**************************/
/*
 * Constants:
 *      STROKEWIDTH = 3px
 *      ARCSIZE     = 270 degrees (amount of circle the arc takes up)
 *      ARCTIME     = 1333ms (time it takes to expand and contract arc)
 *      ARCSTARTROT = 216 degrees (how much the start location of the arc
 *                                should rotate each time, 216 gives us a
 *                                5 pointed star shape (it's 360/5 * 3).
 *                                For a 7 pointed star, we might do
 *                                360/7 * 3 = 154.286)
 *      CONTAINERWIDTH = 28px
 *      SHRINK_TIME = 400ms
 */
@-webkit-keyframes container-rotate {
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes container-rotate {
  to {
    transform: rotate(360deg); } }
/**
 * IMPORTANT NOTE ABOUT CSS ANIMATION PROPERTIES (keanulee):
 *
 * iOS Safari (tested on iOS 8.1) does not handle animation-delay very well - it doesn't
 * guarantee that the animation will start _exactly_ after that value. So we avoid using
 * animation-delay and instead set custom keyframes for each color (as redundant as it
 * seems).
 *
 * We write out each animation in full (instead of separating animation-name,
 * animation-duration, etc.) because under the polyfill, Safari does not recognize those
 * specific properties properly, treats them as -webkit-animation, and overrides the
 * other animation rules. See https://github.com/Polymer/platform/issues/53.
 */
@-webkit-keyframes fill-unfill-rotate {
  12.5% {
    -webkit-transform: rotate(135deg); }
  /* 0.5 * ARCSIZE */
  25% {
    -webkit-transform: rotate(270deg); }
  /* 1   * ARCSIZE */
  37.5% {
    -webkit-transform: rotate(405deg); }
  /* 1.5 * ARCSIZE */
  50% {
    -webkit-transform: rotate(540deg); }
  /* 2   * ARCSIZE */
  62.5% {
    -webkit-transform: rotate(675deg); }
  /* 2.5 * ARCSIZE */
  75% {
    -webkit-transform: rotate(810deg); }
  /* 3   * ARCSIZE */
  87.5% {
    -webkit-transform: rotate(945deg); }
  /* 3.5 * ARCSIZE */
  to {
    -webkit-transform: rotate(1080deg); }
  /* 4   * ARCSIZE */ }
@keyframes fill-unfill-rotate {
  12.5% {
    transform: rotate(135deg); }
  /* 0.5 * ARCSIZE */
  25% {
    transform: rotate(270deg); }
  /* 1   * ARCSIZE */
  37.5% {
    transform: rotate(405deg); }
  /* 1.5 * ARCSIZE */
  50% {
    transform: rotate(540deg); }
  /* 2   * ARCSIZE */
  62.5% {
    transform: rotate(675deg); }
  /* 2.5 * ARCSIZE */
  75% {
    transform: rotate(810deg); }
  /* 3   * ARCSIZE */
  87.5% {
    transform: rotate(945deg); }
  /* 3.5 * ARCSIZE */
  to {
    transform: rotate(1080deg); }
  /* 4   * ARCSIZE */ }
@-webkit-keyframes blue-fade-in-out {
  from {
    opacity: 1; }
  25% {
    opacity: 1; }
  26% {
    opacity: 0; }
  89% {
    opacity: 0; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes blue-fade-in-out {
  from {
    opacity: 1; }
  25% {
    opacity: 1; }
  26% {
    opacity: 0; }
  89% {
    opacity: 0; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-webkit-keyframes red-fade-in-out {
  from {
    opacity: 0; }
  15% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  51% {
    opacity: 0; } }
@keyframes red-fade-in-out {
  from {
    opacity: 0; }
  15% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  51% {
    opacity: 0; } }
@-webkit-keyframes yellow-fade-in-out {
  from {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  76% {
    opacity: 0; } }
@keyframes yellow-fade-in-out {
  from {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  76% {
    opacity: 0; } }
@-webkit-keyframes green-fade-in-out {
  from {
    opacity: 0; }
  65% {
    opacity: 0; }
  75% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes green-fade-in-out {
  from {
    opacity: 0; }
  65% {
    opacity: 0; }
  75% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/**
 * Patch the gap that appear between the two adjacent div.circle-clipper while the
 * spinner is rotating (appears on Chrome 38, Safari 7.1, and IE 11).
 */
@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(130deg); }
  50% {
    -webkit-transform: rotate(-5deg); }
  to {
    -webkit-transform: rotate(130deg); } }
@keyframes left-spin {
  from {
    transform: rotate(130deg); }
  50% {
    transform: rotate(-5deg); }
  to {
    transform: rotate(130deg); } }
@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(-130deg); }
  50% {
    -webkit-transform: rotate(5deg); }
  to {
    -webkit-transform: rotate(-130deg); } }
@keyframes right-spin {
  from {
    transform: rotate(-130deg); }
  50% {
    transform: rotate(5deg); }
  to {
    transform: rotate(-130deg); } }
@-webkit-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/* ==========================================================================
   $BASE-PICKER
   ========================================================================== */
/**
 * Note: the root picker element should *NOT* be styled more than what's here.
 */
/**
 * The picker input element.
 */
/**
 * When the picker is opened, the input element is "activated".
 */
/**
 * The holder is the only "scrollable" top-level container element.
 */
/*!
 * Default mobile-first, responsive styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */
/**
 * Note: the root picker element should *NOT* be styled more than what's here.
 */
/**
 * Make the holder and frame fullscreen.
 */
/**
 * The holder should overlay the entire screen.
 */
/**
 * The frame that bounds the box contents of the picker.
 */
/**
 * The wrapper sets the stage to vertically align the box contents.
 */
/**
 * The box contains all the picker contents.
 */
/**
 * When the picker opens...
 */
/**
 * For `large` screens, transform into an inline picker.
 */
/* ==========================================================================
   CUSTOM MATERIALIZE STYLES
   ========================================================================== */
/* ==========================================================================
   $BASE-DATE-PICKER
   ========================================================================== */
/**
 * The picker box.
 */
/**
 * The header containing the month and year stuff.
 */
/**
 * The month and year labels.
 */
/**
 * The month and year selectors.
 */
/**
 * The month navigation buttons.
 */
/**
 * The calendar table of dates
 */
/**
 * The weekday labels
 */
/**
 * The days on the calendar
 */
/**
 * The footer containing the "today", "clear", and "close" buttons.
 */
/* ==========================================================================
   CUSTOM MATERIALIZE STYLES
   ========================================================================== */
/* ==========================================================================
   $BASE-TIME-PICKER
   ========================================================================== */
/**
 * The list of times.
 */
/**
 * The times on the clock.
 */
/* Hovered time */
/* Highlighted and hovered/focused time */
/* Selected and hovered/focused time */
/* Disabled time */
/**
 * The clear button
 */
/* ==========================================================================
   $DEFAULT-TIME-PICKER
   ========================================================================== */
/**
 * The frame the bounds the time picker.
 */
/**
 * The picker box.
 */

/*# sourceMappingURL=materialbox.css.map */
