@import "localcomp/settings";
@import "localcomp/utils";

body {
  @include color($primary-color-dark);

}
$border-color: color("materialize-red", "darken-3");
.subb { display: inline-block; width:12%; margin: 2em; height: 200px; border: 1px solid $border-color; }

.s1 {
  @extend %z-depth-1;
}

.s2 {
  @extend %z-depth-2;
  @extend %materialboxed;
}

.s3 {
  @extend %z-depth-3;
}

.s4 {
  @extend %z-depth-4;
}

.s5 {
  @extend %z-depth-5;
}